# Python (Part 3)

In this section, you'll build a solid foundation in Python programming by exploring key concepts and structures. You'll learn the differences between *lists* and *tuples*, how to work effectively with *dictionaries*, and how to use for loops to repeat actions and process data. You'll also practice tracing loops to understand how variables change during each iteration. Along the way, you'll write programs that make decisions using *if* and *else* statements with simple Boolean logic. Finally, you'll get comfortable with *functions*, understanding the difference between defining and calling them, and writing your own functions that take specific inputs and return results.

## Tuples
Tuples are used to store multiple items in a single variable. Tuple is one of the main built-in data types in Python used to store collections of data like a list. A tuple is a collection which is ordered and unchangeable. Tuple items much like list items are indexed, the first item has index [0], the second item has index [1] etc. Since tuples are indexed, they can have items with the same value. Tuples are also ordered which means that the items have a defined order and that order will not change.

In [1]:
tuple_cars = ('toyota','honda','ferrari')
print("Print entire tuple:", tuple_cars)
print("2nd element:", tuple_cars[1])

Print entire tuple: ('toyota', 'honda', 'ferrari')
2nd element: honda

Unlike lists, tuples are unchangeable which means that we cannot change, add or remove items after the tuple has been created.

In [2]:
tuple_cars[1] = 'lamborghini'

TypeError: 'tuple' object does not support item assignment

**Note:**
- Tuples are written with round brackets.
- Tuples are ordered.
- Unlike lists, tuple items are unchangeable (immutable).

Just like with other Python data types such as lists and strings, we can determine how many items comprise a tuple using the len() function.

In [3]:
print(len(tuple_cars))

3

A tuple can contain different data types.

In [10]:
tuple_stuff = ('toyota',5.1,[3,1,0])
print(tuple_stuff[-1])

[3, 1, 0]

The tuple object has two built in methods: **count()** and **index()**.

In [13]:
tuple_numbers = (5,3,5,2,1,-1,3)
print("occurances of 5:",tuple_numbers.count(5))
print("index of 3:", tuple_numbers.index(3))

occurances of 5: 2
index of 3: 1

### Exercise 1.1
- Using the following tuple of "Norris trophy winners":
- Calculate the number of occurrences of 'Karlsson'
- Print the name of the player who won the Norris in the third most recent year.

In [15]:
# list of most recent Norris trophy winners (best defenseman in the NHL)
norris_winners = ('Karlsson','Subban','Keith',
                 'Karlsson','Doughty','Burns',
                 'Hedman','Giordano','Josi',
                 'Fox','Makar','Karlsson')
print("Count of occurances of 'Karlsson:'", norris_winners.count('Karlsson'))
print("3rd most recent winner:", norris_winners[-3])

Count of occurances of 'Karlsson:' 3
3rd most recent winner: Fox

### Dictionaries 
A **dictionary** in Python is a collection of ***key-value pairs***, similar to how a real dictionary has words (keys) and their meanings (values). Each key in a dictionary must be unique, and you can use it to access its corresponding value. Dictionaries are defined using curly braces {}.

In [16]:
student_data = {
    "name":"Alex Johnson",
    "age": 20,
    "grade": 88.5,
    "major": "Computer Science"
}
student_data

{'name': 'Alex Johnson', 'age': 20, 'grade': 88.5, 'major': 'Computer Science'}

In this example, we have a dictionary called student_data that stores various pieces of information about a student's academic details.

#### Using Dictionaries:

**1. Accessing Values:** You can retrieve a value using its corresponding key.

In [24]:
current_grade = student_data["grade"]
current_grade

88.5

**2. Adding or Modifying Values:** You can easily add new key-value pairs or modify existing ones:

In [25]:
#Modify Existing one
student_data["grade"] = 92.0
student_data

{'name': 'Alex Johnson', 'age': 20, 'grade': 92.0, 'major': 'Computer Science'}

In [26]:
#Adding new key-value pair
student_data["attendance"] = 95
student_data

{'name': 'Alex Johnson',
 'age': 20,
 'grade': 92.0,
 'major': 'Computer Science',
 'attendance': 95}

**3. Removing Key-Value Pairs:** You can remove a key-value pair using the **del** statement:

In [27]:
del student_data["major"]
student_data

{'name': 'Alex Johnson', 'age': 20, 'grade': 92.0, 'attendance': 95}

Now, let’s expand this dictionary to include more details by combining dictionaries and lists. We can represent multiple subjects with their scores and attendance records, offering a detailed view of the student’s academic performance.

In [29]:
student_data_extension = {
    "name": "Alex Johnson",
    "subjects": [
        {"subject": "Math", "score":85.0, "attendance":90},
        {"subject": "English", "score":88.5, "attendance":95},
        {"subject": "Science", "score": 92.0, "attendance": 85}
    ]
}

The **student_data_extension** example is a well-organized way to store information about a student's academic performance using a dictionary with a list of dictionaries inside. The main dictionary contains keys for the student's name and a list of subject records (each with details like score, attendance, and project information).

This structure is beneficial because it keeps related information together, making it easy to find and update data. The use of a list allows for multiple subjects to be stored in order, while each subject's details are kept in their own dictionary.

This combination of lists and dictionaries makes it simple to manage complex datasets in education and reflects how we naturally group information in real life

**Accessing Top-Level Data**

***1. Access the Name:***
To get the name of the student from the data, you can use the key "name":

In [30]:
name = student_data_extension["name"]
name

'Alex Johnson'

**Accessing Data from the Samples List**

***2.Access the Subjects:***
The "subjects" key points to a list of subject dictionaries. To access this list, you would do:

In [32]:
subjects = student_data_extension["subjects"]
subjects

[{'subject': 'Math', 'score': 85.0, 'attendance': 90},
 {'subject': 'English', 'score': 88.5, 'attendance': 95},
 {'subject': 'Science', 'score': 92.0, 'attendance': 85}]

**3. Access Individual Subjects:**

Each subject in the list can be accessed using its index (position in the list). Remember that Python uses zero-based indexing.

For example, to access the first subject:

In [34]:
first_subject = student_data_extension["subjects"][0]
first_subject

{'subject': 'Math', 'score': 85.0, 'attendance': 90}

In [35]:
subjects[0]

{'subject': 'Math', 'score': 85.0, 'attendance': 90}

**4. Access Specific Data in a Subject:**

You can also directly access specific details within a subject. For example, to get the score of the second subject:

In [36]:
second_subject_score = student_data_extension["subjects"][1]["score"]
second_subject_score

88.5

In [37]:
subjects[1]["score"]

88.5

In [38]:
second_subject = subjects[1]
second_subject["score"]

88.5

**5. Access Score and Attendance:**

Similarly, you can access the score and attendance of any subject. For example, to get the attendance of the third subject:

In [41]:
third_subject_attendance = student_data_extension["subjects"][2]["attendance"]
third_subject_attendance

85

In [43]:
third_subject_score = student_data_extension["subjects"][2]["score"]
third_subject_score

92.0

To access data in the student_data_extension dictionary, you use the keys to reach the specific pieces of information you need. You can start with top-level keys like "name" and then drill down into lists and dictionaries, using indices and additional keys to get to the exact data point you’re interested in. This method allows for easy retrieval and manipulation of structured data.

## Conditionals
Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops. An "if statement" is written by using the if keyword:

In [47]:
a = 200
b = 200

if b > a:
    print("b is greater than a")
else: 
    print("b is not greater than a")

b is not greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

An **if** statement (more properly called a conditional statement) controls whether some block of code is executed or not. Structure is similar to a **for** statement, as the first line opens with if and ends with a colon, and the body containing one or more statements is indented (usually by 4 spaces).

**Note:**

- An if statement (more properly called a conditional statement) controls whether some block of code is executed or not.
- Structure is similar to a for statement, as the first line opens with if and ends with a colon, and the body containing one or more statements is indented (usually by 4 spaces).

In [54]:
grade = 85

if grade >= 70 and grade < 80:
    print("grade is C")
elif grade >= 80 and grade < 90:
    print("grade is B")
elif grade >= 90 and grade <=100:
    print("grade is A")
else:
    print("Invalid Grade")

grade is B

You can have if statements inside if statements, this is called nested if statements:

In [51]:
x = 19

if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20")
    else:
        print("but not above 20")

Above ten
but not above 20

### Exercise 3.1

Write Python code to ask the user for a score out of 100, and then output the equivalent letter grade (90 and up is an A, 80 to 89 is a B, 70 to 79 is a C, 60 to 69 is a D, 59 and lower is a fail)

In [23]:
#Your code goes here

## Loops


The two types of loops in Python are *for* loops and *while* loops. *for* loops are generally more common so we will elaborate on those first.  A *for* loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). Doing calculations on the values in a list or tuple one by one is as painful as working with pressure_001, pressure_002, etc. A *for* loop tells Python to execute some statements once for each value in a list, a character string, or some other collection. It tells Python that for each thing in this group, do these operations.

In [60]:
list_loop = ['b',-3.14,['halifax','nova scotia']]

for item in list_loop:
    print(item)

b
-3.14
['halifax', 'nova scotia']

This for loop is equivalent to:

In [56]:
print('b')
print(-3.14)
print(['halifax','nova scotia'])

b
-3.14
['halifax', 'nova scotia']

In [57]:
print(list_loop[0])
print(list_loop[1])
print(list_loop[2])

b
-3.14
['halifax', 'nova scotia']

A for loop is made up of a collection, a loop variable, and a body. In the above example, list_loop is the collection, item is the loop variable, and print() is the body. The loop variable, number in this example, is what changes for each iteration of the loop or the current thing that is being counted. Note that the colon at the end of the first line signals the start of a block of statements. Python uses indentation rather than {} or begin/end to show nesting. Any consistent indentation is legal, but almost everyone uses four spaces.

Similar to all variables, loop variables are created on demand and their name can be anything.

In [61]:
for halifax in [1,2,6]:
    print(halifax)

1
2
6

The body of a loop can contain many statements:

In [64]:
primes = [2,3,5]
for p in primes:
    squared = p ** 2
    cubed = p ** 3
    print(p,squared,cubed)

2 4 8
3 9 27
5 25 125

The built-in function *range()* produces a sequence of numbers. The numbers are produced on demand to make looping over large ranges more efficient (it’s not a list!). It means range(N) produces the numbers 0...N-1.

In [67]:
# range(A,B) will give you the range [A,B - 1]
for number in range(0,3):
    print(number)

0
1
2

A common application of a for loop is for accumulation. In this application, we need to initialize an accumulator variable to zero, the empty string, or the empty list, and then update the variable with values from a collection:

In [71]:
# sum the first 10 integers.
total = 0
for i in range(1,11):
    print(f"adding {i} to total")
    total = total + i
print("Total sum = ", total)

adding 1 to total
adding 2 to total
adding 3 to total
adding 4 to total
adding 5 to total
adding 6 to total
adding 7 to total
adding 8 to total
adding 9 to total
adding 10 to total
Total sum =  55

Here *total = total + i* adds the current loop variable to the running total. A shorthand for adding a variable to itself is *total += i* which is completely equivalent to *total = total + i*. This can also be done with multiplication and subtraction.

With the break statement, we can stop the loop before it has looped through all the items. This is commonly combined with conditional statements:

In [72]:
mass_kg = [4.3,5.1,3.15,2.0,6.7]
pi = 3.14159

for k in mass_kg:
    print(k)
    if k < pi:
        print("less than pi! ending loop")
        break

4.3
5.1
3.15
2.0
less than pi! ending loop

The *else* keyword in a *for* loop specifies a block of code to be executed when the loop is finished:

In [75]:
for x in range(6):
    print(x)
else:
    print("Finally Finished")

0
1
2
3
4
5
Finally Finished

Finally, a nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop":

In [78]:
colour = ['pink', 'green', 'yellow']
make = ['maserati','mclaren','lamborghini']

for x in colour:
    for y in make:
        print(x,y)
    else:
        print()

pink maserati
pink mclaren
pink lamborghini

green maserati
green mclaren
green lamborghini

yellow maserati
yellow mclaren
yellow lamborghini

One last way to use a *for* loop is by "enumerating" through the list. This is similar to the example *for k in mass_kg* but if you wanted to also access the index number along with the item *k*. The syntax is described below.

In [79]:
# general syntax
# for index,item in enumerate(array):

provinces = ['nova scotia', 'newfoundland and labrador', 'ontario', 'quebec']

for idx,item in enumerate(provinces):
    print(idx,item)

0 nova scotia
1 newfoundland and labrador
2 ontario
3 quebec

### Exercise 4.1

Create an acronym: Starting from the list ['red', 'green', 'blue'], create the acronym 'RGB' using a for loop. Hint: You may need to use a string method .upper() to properly format the acronym.

In [82]:
colours = ['red','green','blue']
acronym = ''

for colour in colours:
    acronym +=colour[0].upper()

print(acronym)

RGB

In addition to *for* loops, there are also *while* loops. These will run based on a conditional, as long as that conditional returns *True*. Be careful that you do not create an infinite loop that is never ending!

In [85]:
total = 0

while total < 10:
    total+=3.14
    print(total)

3.14
6.28
9.42
12.56

## Conditionals & Loops

Combining conditionals while looping through data is a very powerful concept.

Conditionals are often used inside loops:

In [86]:
masses = [3.54,2.07,9.22,1.86,1.71]

for m in masses:
    if m > 3.0:
        print(m, 'is large')

3.54 is large
9.22 is large

We can use else to execute a block of code when an if condition is not true:

In [87]:
masses = [3.54,2.07,9.22,1.86,1.71]
for m in masses:
    if m > 3.0:
        print(m, "is large")
    else:
        print(m, "is small")

3.54 is large
2.07 is small
9.22 is large
1.86 is small
1.71 is small

We can also use elif to specify additional conditions. The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition":

In [88]:
for m in masses:
    if m > 9.0:
        print(m,'is HUGE')
    elif m > 3.0:
        print(m, 'is large')
    else:
        print(m,'is small')

3.54 is large
2.07 is small
9.22 is HUGE
1.86 is small
1.71 is small

### Exercise 5.1
Create an acronym: Starting from the string ''National Aeronautics and Space Administration'', create the acronym 'NASA' using a for loop which contains a conditional statement. Hint: You may need to use a string method .split() to convert the string into a list to iterate through.

In [92]:
space_agency = "National Aeronautics and Space Administration"
space_agency_list = space_agency.split()
acronym = ''

for word in space_agency_list:
    if word != "and":
        acronym += word[0]

print(acronym)

NASA

## Functions
Break programs down into functions to make them easier to understand. This also enables re-use of the same functions. Defining a section of code as a function in Python is done using the def keyword. For example a function that takes two arguments and returns their sum can be defined as:

In [99]:
def add_function(a,b):
    result = a + b
    return result
    
z = add_function(20,22)
z

42

Therefore, we begin the definition of a new function with *def*, followed by the name of the function *add_function*. Then function parameters or arguments in parentheses *(a,b)*.  We should use empty parentheses if the function doesn’t take any inputs. Then a colon, finally an indented block of code.

In [102]:
def print_greeting():
    print("Hello there!")

Note that defining a function does not run it and  we have to call the function to execute the code it contains:

In [103]:
print_greeting()

Hello there!

Also note that arguments in a function call are matched to its defined parameters:

In [106]:
def print_date(year,month,day):
    joined = str(year) +'/'+ str(month) +'/' + str(day)
    print(joined)

print_date(1927,4,13)

1927/4/13

Alternatively, we can name the arguments when we call the function, which allows us to specify them in any order and adds clarity to the call site; otherwise as one is reading the code they might forget if the second argument is the month or the day for example.

In [107]:
print_date(month = 4, day = 13, year = 1927)

1927/4/13

Functions may return a result to their caller using return command:

In [112]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values)/ len(values)
    
a = average([1, 3, 4])
print(a)

2.6666666666666665

Remember: every function returns something. A function that doesn’t explicitly return a value automatically returns  *None*:

In [113]:
result = print_date(1871,3,19)
print(result)

1871/3/19
None

### Exercise 6.2
Write a function to search through a dictionary for a specified element, and return every key that corresponds to that element.
On the following dictionary, find all keys corresponding to "Lidstrom"

In [115]:
norris_dict = {'1990':'Bourque',
         '1991':'Bourque',
         '1992':'Leetch',
         '1993':'Chelios',
         '1994':'Bourque',
         '1995':'Coffey',
         '1996':'Chelios',
         '1997':'Leetch',
         '1998':'Blake',
         '1999':'MacInnis',
         '2000':'Pronger',
         '2001':'Lidstrom',
         '2002':'Lidstrom',
         '2003':'Lidstrom',
         '2004':'Niedermayer',
         '2005':None,
         '2006':'Lidstrom',
         '2007':'Lidstrom',
         '2008':'Lidstrom',
         '2009':'Chara',
         '2010':'Keith',
         '2011':'Lidstrom'}

In [116]:
def find_keys_by_value(input_dict,value):
    keys = []
    for key,val in input_dict.items():
        if val == value:
            keys.append(key)
    return keys
print(find_keys_by_value(norris_dict, 'Lidstrom'))

['2001', '2002', '2003', '2006', '2007', '2008', '2011']

## Recursion
One last very important concept involving functions in Python is "recursion". Recursion is when you call functions within other functions. Doing this is very powerful as you can write complex code in a much more simple and easy to read way.

Here we will use a for loop along with two functions to calculate a complicated expression that involves an "infinite sum".

In [120]:
# define functions
def equation(k):
    output = 4 * (-1)**k / (2*k + 1)
    return output

# this function recursively uses the previous function
def summation(n):
    if n == 0: 
        return 0
    else:
        return equation(n-1) + summation(n-1)

# call the functions
for N in [1,10,100,1000]:
    y = summation(N)
    print(f'For {N} terms, summation = {y}')

For 1 terms, summation = 4.0
For 10 terms, summation = 3.0418396189294032
For 100 terms, summation = 3.1315929035585537
For 1000 terms, summation = 3.140592653839794